@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'inter', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(179, 177, 177, 0.5)50%,rgba(179, 177, 177, 0.5)50%), url(imagem/po.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    width: 30%;
    height: 93vh;
    background: linear-gradient(to top, rgba(210, 208, 208, 0.5)50%,rgba(210, 208, 208, 0.5)50%), url(imagem/op.jpg);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);   
    color: #1a1919;
    border-radius: 5px;
    padding: 80px 40px;
    text-align: center;
}

.container h3 {
    text-align: center;
}
.container img{
    width: 30%;
    height: auto;
    display: center;
    align-items: flex-start;
    
}

.container .input-box{
    position: relative; 
    width: 100%;
    height: 50px;
    margin: 30px 0;
    
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px 45px 20px 20px;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;

}
.input-box input::placeholder{
    
    color: #000000be;
    
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 70%;
    transform: translateY(-50%);
   

}
.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;


   
    padding: 20px 45px 20px 20px;
    padding: 0.8rem 1.2rem;
    font-size: 0.8rem;
}

.remember-forgot label input {
    accent-color: #383838be;
    margin-right: 3px;

    

}
.remember-forgot a {
    color: #000000be;
    text-decoration: none;
    

}
.remember-forgot a:hover {
    text-decoration: underline;

}

.container .btn{
    width: 100%;
    height: 40px;
    background: linear-gradient(-45deg, #bfbbff, #150ae8f1);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    margin: 10px 0;
    padding: 0.62rem;


}
.btn:hover {
    background-color: #676565f1;
}

.container .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;

}
.register-link p a {
    color: #000000be;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;

}













