@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(179, 177, 177, 0.5)50%,rgba(179, 177, 177, 0.5)50%), url(imagem/po.jpg);
}

.container {
    width: 70%;
    height: 93vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

    
}

.form-image {
    width: 50%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(to top, rgba(210, 208, 208, 0.5)50%,rgba(210, 208, 208, 0.5)50%), url(imagem/op.jpg);
    padding: 1rem;
    
}

.form-image img {
    width: 20rem;
    

}
.content{
    color: #1a1919;
    align-self: center; /* Alinha o contêiner de conteúdo no topo */
    text-align: center; /* Centraliza o texto horizontalmente */
    
  
}


.btn {
    display: flex;
    flex-direction: column;
    
    align-items: center; /* Alinha o conteúdo verticalmente */
    text-align: center; /* Centraliza o texto horizontalmente */
    position: relative; /* Posicionamento relativo para o título */
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background: linear-gradient(-45deg, #bfbbff, #150ae8f1);
    cursor: pointer;
    color: #fff;
    margin: 10px 0;
    padding: 0.62rem;
    border-radius: 5px;
    
    

}
.btn:hover {
    background-color: #000000f1;
    
}
.btn a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}


.form {
    width: 55%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    overflow-y: auto; /* Habilita a rolagem vertical conforme necessário */
    border: 1px solid #ccc; /* Adiciona uma borda para visualização */
    max-height: 700px; /* Altura máxima do container */
    
}

.form-header {
    margin-top: 140px; /* Adiciona margem acima do container */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
   
}
.form-header img{
    width: 6rem;
    justify-content: space-between;
    float: right;
    margin-top: 30px;
}
.title {
    display: flex;
    justify-content: space-between; /* Distribui os itens uniformemente ao longo do eixo principal */
    align-items: center;
    float: left;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
   
    
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
    
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 1rem;
    border: none;
    background: linear-gradient(-45deg, #bfbbff, #150ae8f1);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; 
    
}

.continue-button button:hover {
    background-color: #000000f1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}



@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}